<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-sharp"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{'health_blogs' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <ion-list lines="none">
        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Dental <span class="end">12 Dec, 18</span></h3>
                    <h2>Get Rid of Breath & Yellow Teeth</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Hair Care <span class="end">12 Dec, 18</span></h3>
                    <h2>6 Best Homeopathy Medicines for Hair Fall</h2>
                    <p class="d-flex">Dr.Jesica Joseph, Hair specialist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Food & Health <span class="end">4 Dec, 18</span></h3>
                    <h2>10 Powerfull Winter Foods you Should Start Eating!</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Skin Care <span class="end">2 Dec, 18</span></h3>
                    <h2>Did you know sunblock could help prevent skin rashes?</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>
        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Dental <span class="end">12 Dec, 18</span></h3>
                    <h2>Get Rid of Breath & Yellow Teeth</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Hair Care <span class="end">12 Dec, 18</span></h3>
                    <h2>6 Best Homeopathy Medicines for Hair Fall</h2>
                    <p class="d-flex">Dr.Jesica Joseph, Hair specialist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Food & Health <span class="end">4 Dec, 18</span></h3>
                    <h2>10 Powerfull Winter Foods you Should Start Eating!</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Skin Care <span class="end">2 Dec, 18</span></h3>
                    <h2>Did you know sunblock could help prevent skin rashes?</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>
        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Dental <span class="end">12 Dec, 18</span></h3>
                    <h2>Get Rid of Breath & Yellow Teeth</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Hair Care <span class="end">12 Dec, 18</span></h3>
                    <h2>6 Best Homeopathy Medicines for Hair Fall</h2>
                    <p class="d-flex">Dr.Jesica Joseph, Hair specialist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Food & Health <span class="end">4 Dec, 18</span></h3>
                    <h2>10 Powerfull Winter Foods you Should Start Eating!</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Skin Care <span class="end">2 Dec, 18</span></h3>
                    <h2>Did you know sunblock could help prevent skin rashes?</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>
        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Dental <span class="end">12 Dec, 18</span></h3>
                    <h2>Get Rid of Breath & Yellow Teeth</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Hair Care <span class="end">12 Dec, 18</span></h3>
                    <h2>6 Best Homeopathy Medicines for Hair Fall</h2>
                    <p class="d-flex">Dr.Jesica Joseph, Hair specialist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Food & Health <span class="end">4 Dec, 18</span></h3>
                    <h2>10 Powerfull Winter Foods you Should Start Eating!</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Skin Care <span class="end">2 Dec, 18</span></h3>
                    <h2>Did you know sunblock could help prevent skin rashes?</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>
        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Dental <span class="end">12 Dec, 18</span></h3>
                    <h2>Get Rid of Breath & Yellow Teeth</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Hair Care <span class="end">12 Dec, 18</span></h3>
                    <h2>6 Best Homeopathy Medicines for Hair Fall</h2>
                    <p class="d-flex">Dr.Jesica Joseph, Hair specialist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Food & Health <span class="end">4 Dec, 18</span></h3>
                    <h2>10 Powerfull Winter Foods you Should Start Eating!</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Skin Care <span class="end">2 Dec, 18</span></h3>
                    <h2>Did you know sunblock could help prevent skin rashes?</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>
        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Dental <span class="end">12 Dec, 18</span></h3>
                    <h2>Get Rid of Breath & Yellow Teeth</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Hair Care <span class="end">12 Dec, 18</span></h3>
                    <h2>6 Best Homeopathy Medicines for Hair Fall</h2>
                    <p class="d-flex">Dr.Jesica Joseph, Hair specialist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Food & Health <span class="end">4 Dec, 18</span></h3>
                    <h2>10 Powerfull Winter Foods you Should Start Eating!</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Skin Care <span class="end">2 Dec, 18</span></h3>
                    <h2>Did you know sunblock could help prevent skin rashes?</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>
        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Dental <span class="end">12 Dec, 18</span></h3>
                    <h2>Get Rid of Breath & Yellow Teeth</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Hair Care <span class="end">12 Dec, 18</span></h3>
                    <h2>6 Best Homeopathy Medicines for Hair Fall</h2>
                    <p class="d-flex">Dr.Jesica Joseph, Hair specialist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Food & Health <span class="end">4 Dec, 18</span></h3>
                    <h2>10 Powerfull Winter Foods you Should Start Eating!</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Skin Care <span class="end">2 Dec, 18</span></h3>
                    <h2>Did you know sunblock could help prevent skin rashes?</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>
        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Dental <span class="end">12 Dec, 18</span></h3>
                    <h2>Get Rid of Breath & Yellow Teeth</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Hair Care <span class="end">12 Dec, 18</span></h3>
                    <h2>6 Best Homeopathy Medicines for Hair Fall</h2>
                    <p class="d-flex">Dr.Jesica Joseph, Hair specialist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Food & Health <span class="end">4 Dec, 18</span></h3>
                    <h2>10 Powerfull Winter Foods you Should Start Eating!</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Skin Care <span class="end">2 Dec, 18</span></h3>
                    <h2>Did you know sunblock could help prevent skin rashes?</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>
        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Dental <span class="end">12 Dec, 18</span></h3>
                    <h2>Get Rid of Breath & Yellow Teeth</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Hair Care <span class="end">12 Dec, 18</span></h3>
                    <h2>6 Best Homeopathy Medicines for Hair Fall</h2>
                    <p class="d-flex">Dr.Jesica Joseph, Hair specialist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Food & Health <span class="end">4 Dec, 18</span></h3>
                    <h2>10 Powerfull Winter Foods you Should Start Eating!</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Skin Care <span class="end">2 Dec, 18</span></h3>
                    <h2>Did you know sunblock could help prevent skin rashes?</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>
        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Dental <span class="end">12 Dec, 18</span></h3>
                    <h2>Get Rid of Breath & Yellow Teeth</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Hair Care <span class="end">12 Dec, 18</span></h3>
                    <h2>6 Best Homeopathy Medicines for Hair Fall</h2>
                    <p class="d-flex">Dr.Jesica Joseph, Hair specialist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Food & Health <span class="end">4 Dec, 18</span></h3>
                    <h2>10 Powerfull Winter Foods you Should Start Eating!</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Skin Care <span class="end">2 Dec, 18</span></h3>
                    <h2>Did you know sunblock could help prevent skin rashes?</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>
        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Dental <span class="end">12 Dec, 18</span></h3>
                    <h2>Get Rid of Breath & Yellow Teeth</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Hair Care <span class="end">12 Dec, 18</span></h3>
                    <h2>6 Best Homeopathy Medicines for Hair Fall</h2>
                    <p class="d-flex">Dr.Jesica Joseph, Hair specialist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Food & Health <span class="end">4 Dec, 18</span></h3>
                    <h2>10 Powerfull Winter Foods you Should Start Eating!</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Skin Care <span class="end">2 Dec, 18</span></h3>
                    <h2>Did you know sunblock could help prevent skin rashes?</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>
        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Dental <span class="end">12 Dec, 18</span></h3>
                    <h2>Get Rid of Breath & Yellow Teeth</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Hair Care <span class="end">12 Dec, 18</span></h3>
                    <h2>6 Best Homeopathy Medicines for Hair Fall</h2>
                    <p class="d-flex">Dr.Jesica Joseph, Hair specialist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Food & Health <span class="end">4 Dec, 18</span></h3>
                    <h2>10 Powerfull Winter Foods you Should Start Eating!</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Skin Care <span class="end">2 Dec, 18</span></h3>
                    <h2>Did you know sunblock could help prevent skin rashes?</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>
        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Dental <span class="end">12 Dec, 18</span></h3>
                    <h2>Get Rid of Breath & Yellow Teeth</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Hair Care <span class="end">12 Dec, 18</span></h3>
                    <h2>6 Best Homeopathy Medicines for Hair Fall</h2>
                    <p class="d-flex">Dr.Jesica Joseph, Hair specialist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Food & Health <span class="end">4 Dec, 18</span></h3>
                    <h2>10 Powerfull Winter Foods you Should Start Eating!</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Skin Care <span class="end">2 Dec, 18</span></h3>
                    <h2>Did you know sunblock could help prevent skin rashes?</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>
        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Dental <span class="end">12 Dec, 18</span></h3>
                    <h2>Get Rid of Breath & Yellow Teeth</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Hair Care <span class="end">12 Dec, 18</span></h3>
                    <h2>6 Best Homeopathy Medicines for Hair Fall</h2>
                    <p class="d-flex">Dr.Jesica Joseph, Hair specialist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Food & Health <span class="end">4 Dec, 18</span></h3>
                    <h2>10 Powerfull Winter Foods you Should Start Eating!</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="readblog()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/imgs/blog-4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Skin Care <span class="end">2 Dec, 18</span></h3>
                    <h2>Did you know sunblock could help prevent skin rashes?</h2>
                    <p class="d-flex">Dr.Sam Smith, Dentist <ion-icon class="zmdi zmdi-share end ion-text-end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>
        
    </ion-list>
</ion-content>