ion-card {
    margin: 0;
    width: 100%;
    margin-bottom: 8px;
    border-radius: 0;
    padding: 15px 17px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 1px -5px, rgba(0, 0, 0, 0.14) 0px 2px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    padding: 15px 17px 18px 17px;

    .doctor_details {
        padding-bottom: 17px;
        width: 100%;

        .img_box {
            min-width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 12px;
        }

        .text_box {
            width: 100%;
            overflow: hidden;

            h2 {
                padding: 0;
                margin: 0;
                font-size: 0.85rem;
                font-weight: 700;
                color: var(--text-dark);

                span {
                    &.name {
                        display: block;
                        width: 100%;
                    }

                    &.cancel {
                        color: #d71e1e;
                        min-width: 60px;
                    }

                }
            }

            h3 {
                margin: 0;
                color: var(--text-light);
                font-size: 0.7rem;
            }
        }
    }

    .appointment_detail {

        .detail_box {
            width: 100%;
            overflow: hidden;
            align-items: flex-start;
            padding: 13px 0;

            ion-icon {
                color: var(--primary);
                font-size: .95rem;
                min-width: 25px;
                margin-right: 28px;
            }

            h5 {
                margin: 0;
                color: var(--secondary);
                font-weight: 600;
                font-size: 0.78rem;
                min-width: fit-content;
            }

            .text_box {
                width: 100%;
                overflow: hidden;

                h2 {
                    margin: 0;
                    color: var(--text-light);
                    font-size: 0.7rem;
                    padding-bottom: 7px;
                }

                h3 {
                    color: var(--text-dark);
                    margin: 0;
                    font-size: 0.8rem;
                    padding-bottom: 2px;
                    font-weight: 700;
                }

                h4 {
                    margin: 0;
                    color: var(--text-light);
                    font-size: .65rem;
                }

            }

            &:last-child {
                padding-bottom: 0;
            }

        }
    }

}


ion-footer {
    padding: 0 24px 18px 24px;
}