<ion-header>
    <ion-toolbar>
        <ion-title>
            <div class="title_inner d-flex">
                <ion-icon class="zmdi zmdi-close ion-text-start" (click)="dismiss()"></ion-icon>
                {{'search' | translate}}
            </div>
        </ion-title>
    </ion-toolbar>
    <div class="search_box d-flex">
        <ion-icon class="zmdi zmdi-search ion-text-start"></ion-icon>
        <ion-searchbar class="ion-no-padding" searchIcon="hide" placeholder="{{'search_for_tests' | translate}}"></ion-searchbar>
    </div>
</ion-header>

<ion-content class="bg_color">
    <ion-list lines="none">
        <!--        <h2 class="d-flex">{{'top_specialities' | translate}}</h2>-->
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetoacetate </h3>
                <h4 class="end"> 40 $ </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetoaceti Acid </h3>
                <h4 class="end"> 20 $ </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetone </h3>
                <h4 class="end"> 10 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor </h3>
                <h4 class="end"> 23 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Antibody </h3>
                <h4 class="end"> 15 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Binding </h3>
                <h4 class="end"> 47 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Blocking </h3>
                <h4 class="end"> 50 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Modulating Antibody</h3>
                <h4 class="end"> 47 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Binding </h3>
                <h4 class="end"> 35 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylsalicylic Acide </h3>
                <h4 class="end"> 19 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetoaceti Acid </h3>
                <h4 class="end"> 15 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> AChE </h3>
                <h4 class="end"> 20 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acid-Fast Bacillus (AFB) Testing </h3>
                <h4 class="end"> 50 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acid-Fast Bacillus Sensitity </h3>
                <h4 class="end">40 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetoacetate </h3>
                <h4 class="end"> 40 $ </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetoaceti Acid </h3>
                <h4 class="end"> 20 $ </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetone </h3>
                <h4 class="end"> 10 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor </h3>
                <h4 class="end"> 23 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Antibody </h3>
                <h4 class="end"> 15 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Binding </h3>
                <h4 class="end"> 47 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Blocking </h3>
                <h4 class="end"> 50 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Modulating Antibody</h3>
                <h4 class="end"> 47 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Binding </h3>
                <h4 class="end"> 35 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylsalicylic Acide </h3>
                <h4 class="end"> 19 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetoaceti Acid </h3>
                <h4 class="end"> 15 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> AChE </h3>
                <h4 class="end"> 20 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acid-Fast Bacillus (AFB) Testing </h3>
                <h4 class="end"> 50 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acid-Fast Bacillus Sensitity </h3>
                <h4 class="end">40 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetoacetate </h3>
                <h4 class="end"> 40 $ </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetoaceti Acid </h3>
                <h4 class="end"> 20 $ </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetone </h3>
                <h4 class="end"> 10 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor </h3>
                <h4 class="end"> 23 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Antibody </h3>
                <h4 class="end"> 15 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Binding </h3>
                <h4 class="end"> 47 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Blocking </h3>
                <h4 class="end"> 50 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Modulating Antibody</h3>
                <h4 class="end"> 47 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Binding </h3>
                <h4 class="end"> 35 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylsalicylic Acide </h3>
                <h4 class="end"> 19 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetoaceti Acid </h3>
                <h4 class="end"> 15 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> AChE </h3>
                <h4 class="end"> 20 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acid-Fast Bacillus (AFB) Testing </h3>
                <h4 class="end"> 50 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acid-Fast Bacillus Sensitity </h3>
                <h4 class="end">40 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetoacetate </h3>
                <h4 class="end"> 40 $ </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetoaceti Acid </h3>
                <h4 class="end"> 20 $ </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetone </h3>
                <h4 class="end"> 10 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor </h3>
                <h4 class="end"> 23 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Antibody </h3>
                <h4 class="end"> 15 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Binding </h3>
                <h4 class="end"> 47 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Blocking </h3>
                <h4 class="end"> 50 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Modulating Antibody</h3>
                <h4 class="end"> 47 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Binding </h3>
                <h4 class="end"> 35 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylsalicylic Acide </h3>
                <h4 class="end"> 19 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetoaceti Acid </h3>
                <h4 class="end"> 15 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> AChE </h3>
                <h4 class="end"> 20 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acid-Fast Bacillus (AFB) Testing </h3>
                <h4 class="end"> 50 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acid-Fast Bacillus Sensitity </h3>
                <h4 class="end">40 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetoacetate </h3>
                <h4 class="end"> 40 $ </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetoaceti Acid </h3>
                <h4 class="end"> 20 $ </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetone </h3>
                <h4 class="end"> 10 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor </h3>
                <h4 class="end"> 23 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Antibody </h3>
                <h4 class="end"> 15 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Binding </h3>
                <h4 class="end"> 47 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Blocking </h3>
                <h4 class="end"> 50 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Modulating Antibody</h3>
                <h4 class="end"> 47 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Binding </h3>
                <h4 class="end"> 35 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylsalicylic Acide </h3>
                <h4 class="end"> 19 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetoaceti Acid </h3>
                <h4 class="end"> 15 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> AChE </h3>
                <h4 class="end"> 20 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acid-Fast Bacillus (AFB) Testing </h3>
                <h4 class="end"> 50 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acid-Fast Bacillus Sensitity </h3>
                <h4 class="end">40 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetoacetate </h3>
                <h4 class="end"> 40 $ </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetoaceti Acid </h3>
                <h4 class="end"> 20 $ </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetone </h3>
                <h4 class="end"> 10 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor </h3>
                <h4 class="end"> 23 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Antibody </h3>
                <h4 class="end"> 15 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Binding </h3>
                <h4 class="end"> 47 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Blocking </h3>
                <h4 class="end"> 50 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Modulating Antibody</h3>
                <h4 class="end"> 47 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Binding </h3>
                <h4 class="end"> 35 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylsalicylic Acide </h3>
                <h4 class="end"> 19 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetoaceti Acid </h3>
                <h4 class="end"> 15 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> AChE </h3>
                <h4 class="end"> 20 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acid-Fast Bacillus (AFB) Testing </h3>
                <h4 class="end"> 50 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acid-Fast Bacillus Sensitity </h3>
                <h4 class="end">40 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetoacetate </h3>
                <h4 class="end"> 40 $ </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetoaceti Acid </h3>
                <h4 class="end"> 20 $ </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetone </h3>
                <h4 class="end"> 10 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor </h3>
                <h4 class="end"> 23 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Antibody </h3>
                <h4 class="end"> 15 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Binding </h3>
                <h4 class="end"> 47 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Blocking </h3>
                <h4 class="end"> 50 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Modulating Antibody</h3>
                <h4 class="end"> 47 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Binding </h3>
                <h4 class="end"> 35 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylsalicylic Acide </h3>
                <h4 class="end"> 19 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetoaceti Acid </h3>
                <h4 class="end"> 15 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> AChE </h3>
                <h4 class="end"> 20 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acid-Fast Bacillus (AFB) Testing </h3>
                <h4 class="end"> 50 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acid-Fast Bacillus Sensitity </h3>
                <h4 class="end">40 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetoacetate </h3>
                <h4 class="end"> 40 $ </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetoaceti Acid </h3>
                <h4 class="end"> 20 $ </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetone </h3>
                <h4 class="end"> 10 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor </h3>
                <h4 class="end"> 23 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Antibody </h3>
                <h4 class="end"> 15 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Binding </h3>
                <h4 class="end"> 47 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Blocking </h3>
                <h4 class="end"> 50 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Modulating Antibody</h3>
                <h4 class="end"> 47 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Binding </h3>
                <h4 class="end"> 35 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylsalicylic Acide </h3>
                <h4 class="end"> 19 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetoaceti Acid </h3>
                <h4 class="end"> 15 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> AChE </h3>
                <h4 class="end"> 20 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acid-Fast Bacillus (AFB) Testing </h3>
                <h4 class="end"> 50 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acid-Fast Bacillus Sensitity </h3>
                <h4 class="end">40 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetoacetate </h3>
                <h4 class="end"> 40 $ </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetoaceti Acid </h3>
                <h4 class="end"> 20 $ </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetone </h3>
                <h4 class="end"> 10 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor </h3>
                <h4 class="end"> 23 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Antibody </h3>
                <h4 class="end"> 15 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Binding </h3>
                <h4 class="end"> 47 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Blocking </h3>
                <h4 class="end"> 50 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Modulating Antibody</h3>
                <h4 class="end"> 47 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Binding </h3>
                <h4 class="end"> 35 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylsalicylic Acide </h3>
                <h4 class="end"> 19 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetoaceti Acid </h3>
                <h4 class="end"> 15 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> AChE </h3>
                <h4 class="end"> 20 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acid-Fast Bacillus (AFB) Testing </h3>
                <h4 class="end"> 50 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acid-Fast Bacillus Sensitity </h3>
                <h4 class="end">40 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetoacetate </h3>
                <h4 class="end"> 40 $ </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetoaceti Acid </h3>
                <h4 class="end"> 20 $ </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetone </h3>
                <h4 class="end"> 10 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor </h3>
                <h4 class="end"> 23 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Antibody </h3>
                <h4 class="end"> 15 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Binding </h3>
                <h4 class="end"> 47 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Blocking </h3>
                <h4 class="end"> 50 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Modulating Antibody</h3>
                <h4 class="end"> 47 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Binding </h3>
                <h4 class="end"> 35 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylsalicylic Acide </h3>
                <h4 class="end"> 19 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetoaceti Acid </h3>
                <h4 class="end"> 15 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> AChE </h3>
                <h4 class="end"> 20 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acid-Fast Bacillus (AFB) Testing </h3>
                <h4 class="end"> 50 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acid-Fast Bacillus Sensitity </h3>
                <h4 class="end">40 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetoacetate </h3>
                <h4 class="end"> 40 $ </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetoaceti Acid </h3>
                <h4 class="end"> 20 $ </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetone </h3>
                <h4 class="end"> 10 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor </h3>
                <h4 class="end"> 23 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Antibody </h3>
                <h4 class="end"> 15 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Binding </h3>
                <h4 class="end"> 47 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Blocking </h3>
                <h4 class="end"> 50 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Modulating Antibody</h3>
                <h4 class="end"> 47 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Binding </h3>
                <h4 class="end"> 35 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylsalicylic Acide </h3>
                <h4 class="end"> 19 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetoaceti Acid </h3>
                <h4 class="end"> 15 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> AChE </h3>
                <h4 class="end"> 20 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acid-Fast Bacillus (AFB) Testing </h3>
                <h4 class="end"> 50 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acid-Fast Bacillus Sensitity </h3>
                <h4 class="end">40 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetoacetate </h3>
                <h4 class="end"> 40 $ </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetoaceti Acid </h3>
                <h4 class="end"> 20 $ </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetone </h3>
                <h4 class="end"> 10 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor </h3>
                <h4 class="end"> 23 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Antibody </h3>
                <h4 class="end"> 15 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Binding </h3>
                <h4 class="end"> 47 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Blocking </h3>
                <h4 class="end"> 50 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Modulating Antibody</h3>
                <h4 class="end"> 47 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylcholine Receptor Binding </h3>
                <h4 class="end"> 35 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetylsalicylic Acide </h3>
                <h4 class="end"> 19 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acetoaceti Acid </h3>
                <h4 class="end"> 15 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> AChE </h3>
                <h4 class="end"> 20 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acid-Fast Bacillus (AFB) Testing </h3>
                <h4 class="end"> 50 $
                </h4>
            </div>
        </ion-item>
        <ion-item>
            <div class="item_inner d-flex">
                <h3> Acid-Fast Bacillus Sensitity </h3>
                <h4 class="end">40 $
                </h4>
            </div>
        </ion-item>
    </ion-list>

</ion-content>
