ion-header {
    ion-toolbar ion-title {
        padding: 0 !important;

        .title_inner {
            padding: 0 15px !important;

            ion-icon {
                font-size: 1.3rem !important;
                min-width: 26px;
            }

            .select_box {
                h3 {
                    margin: 0;
                    font-weight: 400;
                    font-size: .65rem;
                    letter-spacing: .5px;
                    padding-right: 20px;
                }

                ion-select {
                    padding: 0;
                    --min-height: unset;
                    min-height: unset;
                    line-height: normal;
                    font-size: .75rem;
                    font-weight: 500;
                }
            }
        }
    }
}

.map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
    }

    .doctors {
        position: absolute;
        z-index: 999;
        width: 65px;
        height: 65px;
        display: flex;
        align-items: center;
        align-self: center;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 65px;
            height: 65px;
            border-radius: 50%;
            //			background: var(--secondary);
            opacity: .3;
        }

        .img_box {
            width: 47px;
            height: 47px;
            border: 3px solid var(--primary);
            border-radius: 50%;
            margin: auto;
            align-self: center;
        }

        &.active {
            .img_box {
                border-color: var(--secondary);
            }

            &::before {
                background: var(--secondary);
            }
        }

    }
}

ion-footer {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0px;

    ion-list {
        background: var(--transparent) !important;
        margin: 0;
        padding: 0;
        padding-top: 10px;
        overflow: hidden;
        overflow-x: scroll;
        white-space: nowrap;
        height: 144px;

        ion-item {
            display: inline-block;
            padding: 12px 11px;
            background: var(--white);
            --inner-padding-end: 0px;
            --inner-min-height: unset !important;
            --padding-start: 0;
            --highligh-color-focused: var(--transparent) !important;
            margin: 0 4px;
            max-width: 301px;
            width: 290px;

            .item_inner {
                width: 100%;

                .item_header {
                    padding-bottom: 17px;
                    width: 100%;

                    .img_box {
                        min-width: 37px;
                        height: 37px;
                        border-radius: 50%;
                        margin-right: 12px;
                    }

                    .text_box {
                        width: 100%;
                        overflow: hidden;

                        h2 {
                            margin: 0;
                            font-size: 0.83rem;
                            font-weight: 700;
                            padding-bottom: 3px;
                            color: var(--text-dark);
                        }

                        h3 {
                            margin: 0;
                            color: var(--text-light);
                            font-size: 0.7rem;
                        }
                    }

                    h4 {
                        margin-top: 0;
                        margin-bottom: 0;
                        text-align: center;

                        ion-icon {
                            color: var(--text-light);
                            font-size: 1.2rem;
                        }
                    }
                }

                .item_content {
                    p {
                        margin: 0;
                        color: var(--text-light);
                        font-size: 0.65rem;
                        padding-bottom: 9px;
                        font-weight: 500;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }

                    ion-row {
                        margin: 0 -5px;

                        ion-col {
                            h2 {
                                margin: 0;
                                color: var(--text-light);
                                font-size: 0.65rem;
                                display: -webkit-box;
                                display: flex;
                                align-content: center;

                                strong {
                                    color: var(--text-black);
                                    font-weight: 700;
                                    font-size: 0.65rem;
                                }

                                ion-icon {
                                    color: #dddddd;
                                    font-size: 0.75rem;
                                    width: 11px;

                                    &.active {
                                        color: var(--yelow_color);
                                    }
                                }
                            }
                        }
                    }
                }

            }

            &:first-child {
                margin-left: 8px;
            }

            max-width: 301px;

            &:last-child {
                margin-right: 8px;
            }

            &.active {
                box-shadow: 0 3px 16px 2px rgba(0, 0, 0, 0.2);
            }
        }
    }
}