<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon class="zmdi zmdi-home"></ion-icon>
            <ion-label>{{'home' | translate}} </ion-label>
        </ion-tab-button>

        <ion-tab-button tab="appointment">
            <ion-icon class="zmdi zmdi-calendar-check"></ion-icon>
            <ion-label>{{'appts' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="chats">
            <ion-icon class="zmdi zmdi-comments"></ion-icon>
            <ion-label>{{'chats' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="account">
            <ion-icon class="zmdi zmdi-account"></ion-icon>
            <ion-label>{{'account' | translate}}</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>