<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-sharp"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <div class="title_inner d-flex">
                <ion-icon class="zmdi zmdi-close ion-text-start" (click)="dismiss()"></ion-icon>
                {{'filter' | translate}}
                <span class="end"> {{'reset' | translate}}</span>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color">
    <ion-list lines="none">
        <ion-card>
            <h2>{{'sort_by' | translate}}</h2>
            <ion-radio-group>
                <ion-item>
                    <ion-label>{{'consultancy_fees' | translate}}</ion-label>
                    <ion-radio slot="end" value="consultancy_fees"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>{{'ratings' | translate}}</ion-label>
                    <ion-radio slot="end" value="ratings"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>{{'neare_place' | translate}}</ion-label>
                    <ion-radio slot="end" value="distance"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-card>

        <ion-card>
            <h2>{{'consultancy_fees' | translate}}</h2>
            <ion-radio-group>
                <ion-item>
                    <ion-label>0$ - 10 $</ion-label>
                    <ion-radio slot="end" value="consultancy_fees"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>11$ - 30 $</ion-label>
                    <ion-radio slot="end" value="ratings"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>31$ - more</ion-label>
                    <ion-radio slot="end" value="distance"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-card>

        <ion-card>
            <h2>{{'gender' | translate}}</h2>
            <ion-row>
                <ion-col size="6">
                    <ion-item>
                        <ion-label>{{'male' | translate}}</ion-label>
                        <ion-checkbox slot="start"></ion-checkbox>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-label>{{'female' | translate}}</ion-label>
                        <ion-checkbox slot="start"></ion-checkbox>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-button size="large" shape="block" class="btn">{{'apply_now' | translate}}</ion-button>
</ion-footer>