.text_box {
	background: var(--white);
	padding: 40px 28px;

	h2 {
		color: var(--primary);
		margin: 0;
		font-size: .85rem;
		font-weight: 700;
		padding-bottom: 25px;
	}

	p {
		color: var(--text-black);
		font-weight: 500;
		font-size: 0.82rem;
		margin: 0 auto;
		width: 263px;
		line-height: 18px;
	}
}
    .button.btn {
        --background: var(--primary);

        &:hover:not(.disable-hover) {
            --background: var(--primary);
        }
    }
.form {
	padding-top: 24px;

	ion-list {
		.button.btn {
			margin-top: 23px;
		}
	}
}