<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-sharp"></ion-back-button>
		</ion-buttons>
		<ion-title>{{'forgot_password' | translate}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_color">
	<div class="text_box">
		<h2 class="ion-text-center">{{'dont_worry_it_will_take_less_than_1_min' | translate}}</h2>
		<p class="ion-text-center"> {{'forgot_page_message' | translate}}</p>
	</div>
	<div class="form">
		<ion-list lines="none">
			<ion-item lines="none">
				<ion-input mode="md" type="number" placeholder="{{'add_your_phone_number' | translate}}"></ion-input>
			</ion-item>
			<ion-button mode="md" size="large" shape="block" class="btn" (click)="location()">{{'submit' | translate}}</ion-button>
		</ion-list>
	</div>
</ion-content>