<ion-header>
    <ion-toolbar>
        <ion-title>
            <div class="title_inner d-flex">
                {{'chats' | translate}}
                <ion-icon class="zmdi zmdi-plus ion-text-end end"></ion-icon>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <ion-list lines="none">
        <ion-item (click)="chatscreen()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="img_box center_img">
                        <img src="assets/imgs/profile1.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="name">Dr. Joseph Williamoson</span>
                            <span class=" end ion-text-end">2 min ago</span>
                        </h2>
                        <h3>Cardiac Surgeon</h3>
                    </div>
                </div>
                <div class="item_content d-flex">
                    <ion-icon class="zmdi zmdi-comments ion-text-end"></ion-icon>
                    <p class="d-flex">
                        <span class="message">Yes sure,Can you click a picture and send me?</span>
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </p>
                </div>

            </div>
        </ion-item>  
        
        <ion-item (click)="chatscreen()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="img_box center_img">
                        <img src="assets/imgs/8.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="name">Dr. Stela Smith</span>
                            <span class=" end ion-text-end">25 min ago</span>
                        </h2>
                        <h3>Skin care Surgeon </h3>
                    </div>
                </div>
                <div class="item_content d-flex">
                    <ion-icon class="zmdi zmdi-comments ion-text-end"></ion-icon>
                    <p class="d-flex">
                        <span class="message">Keep away from direct sun light.</span>
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>    
        
        
        <ion-item (click)="chatscreen()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="img_box center_img">
                        <img src="assets/imgs/medical-1.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="name">Johnson Medical Store</span>
                            <span class=" end ion-text-end">1 hr ago</span>
                        </h2>
                        <h3>215 Erena Street, NY 11102, USA </h3>
                    </div>
                </div>
                <div class="item_content d-flex">
                    <ion-icon class="zmdi zmdi-comments ion-text-end"></ion-icon>
                    <p class="d-flex">
                        <span class="message">Okey ma,m. will dekiver at your door step soon.</span>
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </p>
                </div>

            </div>
        </ion-item> 
        
        <ion-item (click)="chatscreen()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="img_box center_img">
                        <img src="assets/imgs/lab-4.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="name">PRP Clinical Labs</span>
                            <span class=" end ion-text-end">1 hr ago</span>
                        </h2>
                        <h3>1123 1st Astroia, NY 11102, USA</h3>
                    </div>
                </div>
                <div class="item_content d-flex">
                    <ion-icon class="zmdi zmdi-comments ion-text-end"></ion-icon>
                    <p class="d-flex">
                        <span class="message">Your test report is ready. kindly collect it</span>
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>
        
        <ion-item (click)="chatscreen()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="img_box center_img">
                        <img src="assets/imgs/profile1.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="name">Dr. Joseph Williamoson</span>
                            <span class=" end ion-text-end">2 min ago</span>
                        </h2>
                        <h3>Cardiac Surgeon</h3>
                    </div>
                </div>
                <div class="item_content d-flex">
                    <ion-icon class="zmdi zmdi-comments ion-text-end"></ion-icon>
                    <p class="d-flex">
                        <span class="message">Yes sure,Can you click a picture and send me?</span>
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </p>
                </div>

            </div>
        </ion-item>  
        
        <ion-item (click)="chatscreen()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="img_box center_img">
                        <img src="assets/imgs/8.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="name">Dr. Stela Smith</span>
                            <span class=" end ion-text-end">25 min ago</span>
                        </h2>
                        <h3>Skin care Surgeon </h3>
                    </div>
                </div>
                <div class="item_content d-flex">
                    <ion-icon class="zmdi zmdi-comments ion-text-end"></ion-icon>
                    <p class="d-flex">
                        <span class="message">Keep away from direct sun light.</span>
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>    
        
        
        <ion-item (click)="chatscreen()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="img_box center_img">
                        <img src="assets/imgs/medical-1.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="name">Johnson Medical Store</span>
                            <span class=" end ion-text-end">1 hr ago</span>
                        </h2>
                        <h3>215 Erena Street, NY 11102, USA </h3>
                    </div>
                </div>
                <div class="item_content d-flex">
                    <ion-icon class="zmdi zmdi-comments ion-text-end"></ion-icon>
                    <p class="d-flex">
                        <span class="message">Okey ma,m. will dekiver at your door step soon.</span>
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </p>
                </div>

            </div>
        </ion-item> 
        
        <ion-item (click)="chatscreen()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="img_box center_img">
                        <img src="assets/imgs/lab-4.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="name">PRP Clinical Labs</span>
                            <span class=" end ion-text-end">1 hr ago</span>
                        </h2>
                        <h3>1123 1st Astroia, NY 11102, USA</h3>
                    </div>
                </div>
                <div class="item_content d-flex">
                    <ion-icon class="zmdi zmdi-comments ion-text-end"></ion-icon>
                    <p class="d-flex">
                        <span class="message">Your test report is ready. kindly collect it</span>
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>
        
        <ion-item (click)="chatscreen()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="img_box center_img">
                        <img src="assets/imgs/profile1.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="name">Dr. Joseph Williamoson</span>
                            <span class=" end ion-text-end">2 min ago</span>
                        </h2>
                        <h3>Cardiac Surgeon</h3>
                    </div>
                </div>
                <div class="item_content d-flex">
                    <ion-icon class="zmdi zmdi-comments ion-text-end"></ion-icon>
                    <p class="d-flex">
                        <span class="message">Yes sure,Can you click a picture and send me?</span>
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </p>
                </div>

            </div>
        </ion-item>  
        
        <ion-item (click)="chatscreen()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="img_box center_img">
                        <img src="assets/imgs/8.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="name">Dr. Stela Smith</span>
                            <span class=" end ion-text-end">25 min ago</span>
                        </h2>
                        <h3>Skin care Surgeon </h3>
                    </div>
                </div>
                <div class="item_content d-flex">
                    <ion-icon class="zmdi zmdi-comments ion-text-end"></ion-icon>
                    <p class="d-flex">
                        <span class="message">Keep away from direct sun light.</span>
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>    
        
        
        <ion-item (click)="chatscreen()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="img_box center_img">
                        <img src="assets/imgs/medical-1.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="name">Johnson Medical Store</span>
                            <span class=" end ion-text-end">1 hr ago</span>
                        </h2>
                        <h3>215 Erena Street, NY 11102, USA </h3>
                    </div>
                </div>
                <div class="item_content d-flex">
                    <ion-icon class="zmdi zmdi-comments ion-text-end"></ion-icon>
                    <p class="d-flex">
                        <span class="message">Okey ma,m. will dekiver at your door step soon.</span>
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </p>
                </div>

            </div>
        </ion-item> 
        
        <ion-item (click)="chatscreen()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="img_box center_img">
                        <img src="assets/imgs/lab-4.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="name">PRP Clinical Labs</span>
                            <span class=" end ion-text-end">1 hr ago</span>
                        </h2>
                        <h3>1123 1st Astroia, NY 11102, USA</h3>
                    </div>
                </div>
                <div class="item_content d-flex">
                    <ion-icon class="zmdi zmdi-comments ion-text-end"></ion-icon>
                    <p class="d-flex">
                        <span class="message">Your test report is ready. kindly collect it</span>
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>
        
        <ion-item (click)="chatscreen()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="img_box center_img">
                        <img src="assets/imgs/profile1.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="name">Dr. Joseph Williamoson</span>
                            <span class=" end ion-text-end">2 min ago</span>
                        </h2>
                        <h3>Cardiac Surgeon</h3>
                    </div>
                </div>
                <div class="item_content d-flex">
                    <ion-icon class="zmdi zmdi-comments ion-text-end"></ion-icon>
                    <p class="d-flex">
                        <span class="message">Yes sure,Can you click a picture and send me?</span>
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </p>
                </div>

            </div>
        </ion-item>  
        
        <ion-item (click)="chatscreen()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="img_box center_img">
                        <img src="assets/imgs/8.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="name">Dr. Stela Smith</span>
                            <span class=" end ion-text-end">25 min ago</span>
                        </h2>
                        <h3>Skin care Surgeon </h3>
                    </div>
                </div>
                <div class="item_content d-flex">
                    <ion-icon class="zmdi zmdi-comments ion-text-end"></ion-icon>
                    <p class="d-flex">
                        <span class="message">Keep away from direct sun light.</span>
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>    
        
        
        <ion-item (click)="chatscreen()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="img_box center_img">
                        <img src="assets/imgs/medical-1.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="name">Johnson Medical Store</span>
                            <span class=" end ion-text-end">1 hr ago</span>
                        </h2>
                        <h3>215 Erena Street, NY 11102, USA </h3>
                    </div>
                </div>
                <div class="item_content d-flex">
                    <ion-icon class="zmdi zmdi-comments ion-text-end"></ion-icon>
                    <p class="d-flex">
                        <span class="message">Okey ma,m. will dekiver at your door step soon.</span>
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </p>
                </div>

            </div>
        </ion-item> 
        
        <ion-item (click)="chatscreen()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="img_box center_img">
                        <img src="assets/imgs/lab-4.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="name">PRP Clinical Labs</span>
                            <span class=" end ion-text-end">1 hr ago</span>
                        </h2>
                        <h3>1123 1st Astroia, NY 11102, USA</h3>
                    </div>
                </div>
                <div class="item_content d-flex">
                    <ion-icon class="zmdi zmdi-comments ion-text-end"></ion-icon>
                    <p class="d-flex">
                        <span class="message">Your test report is ready. kindly collect it</span>
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>
        
        <ion-item (click)="chatscreen()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="img_box center_img">
                        <img src="assets/imgs/profile1.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="name">Dr. Joseph Williamoson</span>
                            <span class=" end ion-text-end">2 min ago</span>
                        </h2>
                        <h3>Cardiac Surgeon</h3>
                    </div>
                </div>
                <div class="item_content d-flex">
                    <ion-icon class="zmdi zmdi-comments ion-text-end"></ion-icon>
                    <p class="d-flex">
                        <span class="message">Yes sure,Can you click a picture and send me?</span>
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </p>
                </div>

            </div>
        </ion-item>  
        
        <ion-item (click)="chatscreen()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="img_box center_img">
                        <img src="assets/imgs/8.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="name">Dr. Stela Smith</span>
                            <span class=" end ion-text-end">25 min ago</span>
                        </h2>
                        <h3>Skin care Surgeon </h3>
                    </div>
                </div>
                <div class="item_content d-flex">
                    <ion-icon class="zmdi zmdi-comments ion-text-end"></ion-icon>
                    <p class="d-flex">
                        <span class="message">Keep away from direct sun light.</span>
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>    
        
        
        <ion-item (click)="chatscreen()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="img_box center_img">
                        <img src="assets/imgs/medical-1.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="name">Johnson Medical Store</span>
                            <span class=" end ion-text-end">1 hr ago</span>
                        </h2>
                        <h3>215 Erena Street, NY 11102, USA </h3>
                    </div>
                </div>
                <div class="item_content d-flex">
                    <ion-icon class="zmdi zmdi-comments ion-text-end"></ion-icon>
                    <p class="d-flex">
                        <span class="message">Okey ma,m. will dekiver at your door step soon.</span>
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </p>
                </div>

            </div>
        </ion-item> 
        
        <ion-item (click)="chatscreen()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="img_box center_img">
                        <img src="assets/imgs/lab-4.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="name">PRP Clinical Labs</span>
                            <span class=" end ion-text-end">1 hr ago</span>
                        </h2>
                        <h3>1123 1st Astroia, NY 11102, USA</h3>
                    </div>
                </div>
                <div class="item_content d-flex">
                    <ion-icon class="zmdi zmdi-comments ion-text-end"></ion-icon>
                    <p class="d-flex">
                        <span class="message">Your test report is ready. kindly collect it</span>
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>
        
        <ion-item (click)="chatscreen()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="img_box center_img">
                        <img src="assets/imgs/profile1.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="name">Dr. Joseph Williamoson</span>
                            <span class=" end ion-text-end">2 min ago</span>
                        </h2>
                        <h3>Cardiac Surgeon</h3>
                    </div>
                </div>
                <div class="item_content d-flex">
                    <ion-icon class="zmdi zmdi-comments ion-text-end"></ion-icon>
                    <p class="d-flex">
                        <span class="message">Yes sure,Can you click a picture and send me?</span>
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </p>
                </div>

            </div>
        </ion-item>  
        
        <ion-item (click)="chatscreen()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="img_box center_img">
                        <img src="assets/imgs/8.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="name">Dr. Stela Smith</span>
                            <span class=" end ion-text-end">25 min ago</span>
                        </h2>
                        <h3>Skin care Surgeon </h3>
                    </div>
                </div>
                <div class="item_content d-flex">
                    <ion-icon class="zmdi zmdi-comments ion-text-end"></ion-icon>
                    <p class="d-flex">
                        <span class="message">Keep away from direct sun light.</span>
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>    
        
        
        <ion-item (click)="chatscreen()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="img_box center_img">
                        <img src="assets/imgs/medical-1.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="name">Johnson Medical Store</span>
                            <span class=" end ion-text-end">1 hr ago</span>
                        </h2>
                        <h3>215 Erena Street, NY 11102, USA </h3>
                    </div>
                </div>
                <div class="item_content d-flex">
                    <ion-icon class="zmdi zmdi-comments ion-text-end"></ion-icon>
                    <p class="d-flex">
                        <span class="message">Okey ma,m. will dekiver at your door step soon.</span>
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </p>
                </div>

            </div>
        </ion-item> 
        
        <ion-item (click)="chatscreen()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="img_box center_img">
                        <img src="assets/imgs/lab-4.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="name">PRP Clinical Labs</span>
                            <span class=" end ion-text-end">1 hr ago</span>
                        </h2>
                        <h3>1123 1st Astroia, NY 11102, USA</h3>
                    </div>
                </div>
                <div class="item_content d-flex">
                    <ion-icon class="zmdi zmdi-comments ion-text-end"></ion-icon>
                    <p class="d-flex">
                        <span class="message">Your test report is ready. kindly collect it</span>
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>
        
        <ion-item (click)="chatscreen()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="img_box center_img">
                        <img src="assets/imgs/profile1.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="name">Dr. Joseph Williamoson</span>
                            <span class=" end ion-text-end">2 min ago</span>
                        </h2>
                        <h3>Cardiac Surgeon</h3>
                    </div>
                </div>
                <div class="item_content d-flex">
                    <ion-icon class="zmdi zmdi-comments ion-text-end"></ion-icon>
                    <p class="d-flex">
                        <span class="message">Yes sure,Can you click a picture and send me?</span>
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </p>
                </div>

            </div>
        </ion-item>  
        
        <ion-item (click)="chatscreen()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="img_box center_img">
                        <img src="assets/imgs/8.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="name">Dr. Stela Smith</span>
                            <span class=" end ion-text-end">25 min ago</span>
                        </h2>
                        <h3>Skin care Surgeon </h3>
                    </div>
                </div>
                <div class="item_content d-flex">
                    <ion-icon class="zmdi zmdi-comments ion-text-end"></ion-icon>
                    <p class="d-flex">
                        <span class="message">Keep away from direct sun light.</span>
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>    
        
        
        <ion-item (click)="chatscreen()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="img_box center_img">
                        <img src="assets/imgs/medical-1.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="name">Johnson Medical Store</span>
                            <span class=" end ion-text-end">1 hr ago</span>
                        </h2>
                        <h3>215 Erena Street, NY 11102, USA </h3>
                    </div>
                </div>
                <div class="item_content d-flex">
                    <ion-icon class="zmdi zmdi-comments ion-text-end"></ion-icon>
                    <p class="d-flex">
                        <span class="message">Okey ma,m. will dekiver at your door step soon.</span>
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </p>
                </div>

            </div>
        </ion-item> 
        
        <ion-item (click)="chatscreen()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="img_box center_img">
                        <img src="assets/imgs/lab-4.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="name">PRP Clinical Labs</span>
                            <span class=" end ion-text-end">1 hr ago</span>
                        </h2>
                        <h3>1123 1st Astroia, NY 11102, USA</h3>
                    </div>
                </div>
                <div class="item_content d-flex">
                    <ion-icon class="zmdi zmdi-comments ion-text-end"></ion-icon>
                    <p class="d-flex">
                        <span class="message">Your test report is ready. kindly collect it</span>
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>
        
        <ion-item (click)="chatscreen()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="img_box center_img">
                        <img src="assets/imgs/profile1.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="name">Dr. Joseph Williamoson</span>
                            <span class=" end ion-text-end">2 min ago</span>
                        </h2>
                        <h3>Cardiac Surgeon</h3>
                    </div>
                </div>
                <div class="item_content d-flex">
                    <ion-icon class="zmdi zmdi-comments ion-text-end"></ion-icon>
                    <p class="d-flex">
                        <span class="message">Yes sure,Can you click a picture and send me?</span>
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </p>
                </div>

            </div>
        </ion-item>  
        
        <ion-item (click)="chatscreen()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="img_box center_img">
                        <img src="assets/imgs/8.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="name">Dr. Stela Smith</span>
                            <span class=" end ion-text-end">25 min ago</span>
                        </h2>
                        <h3>Skin care Surgeon </h3>
                    </div>
                </div>
                <div class="item_content d-flex">
                    <ion-icon class="zmdi zmdi-comments ion-text-end"></ion-icon>
                    <p class="d-flex">
                        <span class="message">Keep away from direct sun light.</span>
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>    
        
        
        <ion-item (click)="chatscreen()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="img_box center_img">
                        <img src="assets/imgs/medical-1.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="name">Johnson Medical Store</span>
                            <span class=" end ion-text-end">1 hr ago</span>
                        </h2>
                        <h3>215 Erena Street, NY 11102, USA </h3>
                    </div>
                </div>
                <div class="item_content d-flex">
                    <ion-icon class="zmdi zmdi-comments ion-text-end"></ion-icon>
                    <p class="d-flex">
                        <span class="message">Okey ma,m. will dekiver at your door step soon.</span>
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </p>
                </div>

            </div>
        </ion-item> 
        
        <ion-item (click)="chatscreen()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="img_box center_img">
                        <img src="assets/imgs/lab-4.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="name">PRP Clinical Labs</span>
                            <span class=" end ion-text-end">1 hr ago</span>
                        </h2>
                        <h3>1123 1st Astroia, NY 11102, USA</h3>
                    </div>
                </div>
                <div class="item_content d-flex">
                    <ion-icon class="zmdi zmdi-comments ion-text-end"></ion-icon>
                    <p class="d-flex">
                        <span class="message">Your test report is ready. kindly collect it</span>
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>
        
        <ion-item (click)="chatscreen()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="img_box center_img">
                        <img src="assets/imgs/profile1.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="name">Dr. Joseph Williamoson</span>
                            <span class=" end ion-text-end">2 min ago</span>
                        </h2>
                        <h3>Cardiac Surgeon</h3>
                    </div>
                </div>
                <div class="item_content d-flex">
                    <ion-icon class="zmdi zmdi-comments ion-text-end"></ion-icon>
                    <p class="d-flex">
                        <span class="message">Yes sure,Can you click a picture and send me?</span>
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </p>
                </div>

            </div>
        </ion-item>  
        
        <ion-item (click)="chatscreen()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="img_box center_img">
                        <img src="assets/imgs/8.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="name">Dr. Stela Smith</span>
                            <span class=" end ion-text-end">25 min ago</span>
                        </h2>
                        <h3>Skin care Surgeon </h3>
                    </div>
                </div>
                <div class="item_content d-flex">
                    <ion-icon class="zmdi zmdi-comments ion-text-end"></ion-icon>
                    <p class="d-flex">
                        <span class="message">Keep away from direct sun light.</span>
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>    
        
        
        <ion-item (click)="chatscreen()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="img_box center_img">
                        <img src="assets/imgs/medical-1.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="name">Johnson Medical Store</span>
                            <span class=" end ion-text-end">1 hr ago</span>
                        </h2>
                        <h3>215 Erena Street, NY 11102, USA </h3>
                    </div>
                </div>
                <div class="item_content d-flex">
                    <ion-icon class="zmdi zmdi-comments ion-text-end"></ion-icon>
                    <p class="d-flex">
                        <span class="message">Okey ma,m. will dekiver at your door step soon.</span>
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </p>
                </div>

            </div>
        </ion-item> 
        
        <ion-item (click)="chatscreen()">
            <div class="item_inner">
                <div class="item_header d-flex">
                    <div class="img_box center_img">
                        <img src="assets/imgs/lab-4.png" class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="name">PRP Clinical Labs</span>
                            <span class=" end ion-text-end">1 hr ago</span>
                        </h2>
                        <h3>1123 1st Astroia, NY 11102, USA</h3>
                    </div>
                </div>
                <div class="item_content d-flex">
                    <ion-icon class="zmdi zmdi-comments ion-text-end"></ion-icon>
                    <p class="d-flex">
                        <span class="message">Your test report is ready. kindly collect it</span>
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </p>
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>