ion-header {
    background: var(--primary);
    box-shadow:0 -11px 7px 10px rgba(0, 0, 0, 0.5);

    ion-segment {
        border: none !important;
        background: none !important;

        ion-segment-button {
            position: relative;
            font-size: .93rem;
            font-weight: 500;
            color: var(--white) !important;
            text-transform: unset !important;
            letter-spacing: 0;
            --background-checked: var(--transparent) !important;
            --color-focused: var(--white) !important;
            --color-hover: var(--white) !important;
            --background-hover: var(--transparent) !important;
            --color-checked: var(--white) !important;
            --ripple-color: var(--transparent) !important;
            --indicator-color: var(--transparent) !important;   
            ion-label {
                opacity: 1;
            }

            &::before {
                content: '';
                position: absolute;
                bottom: 0px;
                right: 0;
                left: 0;
                margin: 0 auto;
                height: 4px;
                transition: all .3s;
                width: 0;
                background: var(--white);
                border-radius: 0px;
            }

            &.segment-button-checked {
            

                &::before {
                    width: 100px;
                }
            }

        }

        &.ios {
            min-height: 55px;

            .ion-segment-button {
                margin: 0 10px;
                background: none !important;
            }
        }
    }
}

.tab_content {
    padding: 18px 23px;

    .text_box {
        p {
            margin: 0;
            color: var(--text-black);
            font-weight: 500;
            font-size: .85rem;
            line-height: 19px;
            letter-spacing: .1px;
            padding-bottom: 15px;
        }

        h2 {
            margin: 0;
            color: var(--primary);
            font-weight: 700;
            font-size: .85rem;
            padding-bottom: 15px;
        }
    }
}