<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-sharp"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{'my_profile' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="profile_img">
        <div class="img_container">
            <div class="img_box center_img">
                <img src="assets/imgs/profile4.png" class="crop_img">
            </div>
            <ion-icon class="zmdi zmdi-camera"></ion-icon>
        </div>
    </div>
    <div class="form">
        <ion-list lines="none">
            <ion-item lines="none">
                <ion-label mode="md" position="fixed">{{'full_name' | translate}}</ion-label>
                <ion-input mode="md" class="ion-text-end" type="name" value="Emili Williams"></ion-input>
            </ion-item>

            <ion-item lines="none">
                <ion-label position="fixed">{{'email_id' | translate}}</ion-label>
                <ion-input mode="md" class="ion-text-end" type="email" value="emiliwilliams@mail.com"></ion-input>
            </ion-item>

            <ion-item lines="none">
                <ion-label position="fixed">{{'gender' | translate}}</ion-label>
                <ion-input mode="md" class="ion-text-end" type="name" value="Female"></ion-input>
            </ion-item>

            <ion-item lines="none">
                <ion-label position="fixed">{{'date_of_birth' | translate}}</ion-label>
                <ion-input mode="md" class="ion-text-end" type="text" value="25 June 1989"></ion-input>
            </ion-item>

            <ion-item lines="none">
                <ion-label position="fixed">{{'height' | translate}}</ion-label>
                <ion-input mode="md" class="ion-text-end" type="text" value="5'11 ft"></ion-input>
            </ion-item>

            <ion-item lines="none">
                <ion-label position="fixed">{{'weight' | translate}}</ion-label>
                <ion-input mode="md" class="ion-text-end" type="text" value="62 kgs (136 lbs)"></ion-input>
            </ion-item>

            <ion-item lines="none">
                <ion-label position="fixed">{{'blood_group' | translate}}</ion-label>
                <ion-input mode="md" class="ion-text-end" type="text" value="A+"></ion-input>
            </ion-item>

            <ion-item lines="none">
                <ion-label position="fixed">{{'location' | translate}}</ion-label>
                <ion-input mode="md" class="ion-text-end" type="text" value=" Centeral Park, New York"></ion-input>
            </ion-item>
        </ion-list>
    </div>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-button size="large" shape="block" class="btn">{{'update_profile' | translate}}</ion-button>
</ion-footer>
