ion-list {
    background: var(--white) !important;
    margin: 0;
    padding: 20px 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    margin-bottom: 8px;

    h2 {
        margin: 0;
        color: var(--primary);
        font-size: 0.82rem;
        font-weight: 500;
        padding: 0 23px;
        padding-bottom: 15px;

    }

    ion-item {
        padding: 8px 0px;
        --background: var(--transparent) !important;
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --padding-start: 0;
        width: calc(100% - 45px);
        margin: 0 auto;
        --min-height: unset;

        .item_inner {
            align-items: flex-start;

            .text_box {
                width: 100%;

                h2 {
                    margin: 0;
                    color: var(--text-dark);
                    font-size: .85rem;
                    font-weight: 700;
                    padding: 0;
                    padding-bottom: 6px;
                }

                p {
                    margin: 0;
                    color: var(--text-light);
                    font-size: .63rem;
                    font-weight: 500;
                }
            }
        }

        ion-toggle {
            --background: var(--bg-color);
            --background-checked: var(--text-light);
            --handle-background: var(--white);
            --handle-background-checked: var(--primary);
        }
    }
}

ion-footer {
    background: var(--white);
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 22px;

    h2 {
        margin: 0;
        color: var(--secondary);
        font-size: .9rem;
        font-weight: 600;

        ion-icon {
            font-size: 1.3rem;
        }
    }
}